.title-slide {
  background-image: url(./background.jpg);
  background-size: cover;
}

.title-slide .remark-slide-number {
  display: none;
}

/* Unordered List */
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\203A";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: black; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  line-height: 1;
}